// Drawer Menu Sub
.navigation_drawer_menu {
  ul {
    .drawer_menu_link[data-toggle-target-next] {
      &::after {
        content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPScjOWFhMGE2Jz48cGF0aCBkPSJNNywxMEwxMiwxNUwxNywxMEg3WiIgLz48L3N2Zz4=);
        flex: 0 0 auto;
        height: 24px;
        margin: 0 8px;
        transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
        width: 24px;
      }

      &.--active::after {
        transform: rotate(180deg);
      }
    }

    &.drawer_sub {
      &.--active {
        li {
          max-height: 60px;
        }
      }

      &:not(.--active) {
        li {
          max-height: 0;
        }
      }

      li {
        overflow: hidden;
        transition: max-height 0.9s cubic-bezier(0.24, 1, 0.32, 1);

        .drawer_menu_link {
          padding: 10px 0 10px 52px;
        }
      }
    }
  }
}
