// Header
.elcreative_header {
  align-items: center;
  background-color: var(--headerColorBackground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 998;

  &.__header_border {
    border-bottom: 1px solid var(--headerColorBorder);
  }

  &.__header_shadow {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0px rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  }

  .elcreative_button_icon {
    color: var(--headerColorButtonIcon);

    &:hover,
    &:focus {
      background-color: var(--headerColorButtonIconHover);
    }

    &:active {
      background-color: var(--headerColorButtonIconHoverActive);
    }
  }

  .header_primary {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 0 8px;
    width: 100%;
  }

  .header_secondary {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 8px 8px 8px;
    width: 100%;
  }

  .header_section {
    display: flex;
    align-items: center;
    flex-direction: row;

    &.header_start {
      justify-content: flex-start;
      margin: 0 8px 0 0;
      max-width: max-content;
      width: 100%;

      .Header {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          align-items: center;
          color: var(--headerColorText);
          display: inline-flex;
          font-size: 18px;
          font-weight: 500;
          justify-content: center;
          text-decoration: none;
        }

        h1 {
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          color: inherit;
          display: -webkit-box;
          font-size: inherit;
          font-weight: inherit;
          line-height: 1.5;
          margin: 0;
          overflow: hidden;
          position: relative;
          text-overflow: ellipsis;
        }

        img {
          flex: 0 0 auto;
          max-height: 26px;
          margin: 0 8px 0 0;
          overflow: hidden;
          text-indent: -999px;
          width: auto;
        }
      }
    }

    &.header_center {
      justify-content: center;
      width: 100%;

      form {
        align-items: center;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 780px;
        width: 100%;
        transition: box-shadow 280ms ease-in-out;

        input {
          background-color: transparent;
          box-sizing: border-box;
          border: none;
          color: var(--headerColorText);
          font-family: inherit;
          font-size: 14px;
          margin: 0 4px;
          outline: none;
          padding: 0;
          width: 100%;
        }
      }
    }

    &.header_end {
      justify-content: flex-end;
      margin: 0 0 0 8px;
      max-width: max-content;
      width: 100%;

      .elcreative_button_icon {
        &:not(:last-child) {
          margin: 0 2px;
        }
      }
    }
  }
}
