.elcreative_section {
  display: flex;
  justify-content: space-between;
  transition: margin 0.28s cubic-bezier(0.4, 0, 0.2, 1);

  .elcreative_main {
    

    .main_widget_section {
      max-width: 980px;
      margin: 0 auto;
      width: 100%;

      .widget_title {
        text-transform: capitalize;
      }
    }
  }
}
