.elcreative_dropdown {
  &.overflow_menu {
    background-color: var(--navigationMoreMenuBackground);
    margin: 8px;
    position: fixed;
    right: 0;
    top: 0;
    transform-origin: right top;

    ul {
      li {
        &.selected .dropdown_item {
          background-color: var(--navigationMoreMenuMenuTextTransparent1);
        }

        .dropdown_item {
          color: var(--navigationMoreMenuMenuText);

          &:hover,
          &:focus {
            background-color: var(--navigationMoreMenuMenuTextTransparent1);
          }

          &:active {
            background-color: var(--navigationMoreMenuMenuTextTransparent2);
          }

          svg {
            fill: currentColor;
            height: 18px;
            margin: 0 8px 0 0;
            width: 18px;
          }

          .ripple_container {
            i {
              background-color: var(--navigationMoreMenuMenuTextTransparent1);
            }
          }
        }
      }
    }
  }
}
