<b:includable id="main" var="this">
    <b:include name="widget-title" />
    <div class="widget-content">
        <b:include name="snippetedPosts" />
    </div>
</b:includable>
<b:includable id="postAuthor">
    <span class="byline post-author vcard">
        <span class="post-author-label">
            <data:byline.label />
        </span>
        <span class="fn">
            <b:if cond="data:post.author.profileUrl">
                <meta expr:content="data:post.author.profileUrl" />
                <a class="g-profile" expr:href="data:post.author.profileUrl" rel="author" title="author profile">
                    <span><data:post.author.name /></span>
                </a>
                <b:else />
                <span><data:post.author.name /></span>
            </b:if>
        </span>
    </span>
</b:includable>
<b:includable id="postSnippet">
    <div expr:class='(data:snippetPrefix ?: "post") + "-snippet snippet-container r-snippet-container"'>
        <div class="snippet-item r-snippetized">
            <b:eval expr="data:post.snippets.long" />
        </div>
        <a class="snippet-fade r-snippet-fade hidden" expr:href="data:post.url" />
    </div>
</b:includable>
<b:includable id="postTimestamp">
    <span class="byline post-timestamp">
        <data:byline.label />
        <b:if cond="data:post.url">
            <meta expr:content="data:post.url.canonical" />
            <a class="timestamp-link" expr:href="data:post.url" rel="bookmark" title="permanent link">
                <time class="published" expr:datetime="data:post.date.iso8601" expr:title="data:post.date.iso8601">
                    <data:post.date />
                </time>
            </a>
        </b:if>
    </span>
</b:includable>
<b:includable id="snippetedPostByline">
    <b:with value='(data:widgets first (w => w.type == "Blog")).allBylineItems' var="blogBylines">
        <div class="item-byline">
            <b:with value='data:blogBylines first (i => i.name == "author")' var="byline">
                <b:include cond="data:byline and data:this.postDisplay.showAuthor" data="post" name="postAuthor" />
            </b:with>
            <b:with value='data:blogBylines first (i => i.name == "timestamp")' var="byline">
                <b:include cond="data:byline and data:this.postDisplay.showDate" data="post" name="postTimestamp" />
            </b:with>
        </div>
    </b:with>
</b:includable>
<b:includable id="snippetedPostContent">
    <div class="post-content">
        <b:include cond="data:this.postDisplay.showTitle" name="snippetedPostTitle" />
        <b:include cond="data:this.postDisplay.showDate or data:this.postDisplay.showAuthor" name="snippetedPostByline" />
        <b:include cond="data:this.postDisplay.showSnippet" data="post" name="postSnippet" />
        <b:include cond="data:this.postDisplay.showFeaturedImage and data:post.featuredImage" name="snippetedPostThumbnail" />
    </div>
</b:includable>
<b:includable id="snippetedPostThumbnail">
    <div class="item-thumbnail">
        <a expr:href="data:post.url">
            <b:include data='{ image: data:post.featuredImage, imageSizes: [72,144], imageRatio: "1:1", sourceSizes: "72px" }' name="responsiveImage" />
        </a>
    </div>
</b:includable>
<b:includable id="snippetedPostTitle">
    <b:if cond='data:post.title != ""'>
        <h3 class="post-title">
            <a expr:href="data:post.url"><data:post.title /></a>
        </h3>
    </b:if>
</b:includable>
<b:includable id="snippetedPosts">
    <div role="feed">
        <b:loop values="data:posts where (p => p.id != data:view.postId)" var="post">
            <article class="post" role="article">
                <b:include name="snippetedPostContent" />
            </article>
        </b:loop>
    </div>
</b:includable>
