<b:includable id="main" var="this">
    <div class="header-widget">
        <b:include cond='data:imagePlacement in {"REPLACE", "BEFORE_DESCRIPTION"}' name="image" />
        <b:include cond='data:imagePlacement not in {"REPLACE", "BEFORE_DESCRIPTION"}' name="title" />
        <b:include cond='data:imagePlacement != "REPLACE"' name="description" />
    </div>
    <b:include cond='data:imagePlacement == "BEHIND"' name="behindImageStyle" />
</b:includable>
<b:includable id="behindImageStyle">
    <b:if cond="data:sourceUrl">
        <b:include cond="data:this.image" data='{image: data:this.image, selector: ".header-widget"}' name="responsiveImageStyle" />
    </b:if>
</b:includable>
<b:includable id="description">
    <p>
        <data:this.description />
    </p>
</b:includable>
<b:includable id="image">
    <a class="header-image-wrapper" expr:href="data:blog.homepageUrl">
        <b:include data="{image: data:image, altText: data:blog.title.escaped, originalWidth: data:width, originalHeight: data:height}" name="responsiveImage" />
    </a>
</b:includable>
<b:includable id="title">
    <h1>
        <b:tag cond="data:view.url != data:blog.homepageUrl" expr:href="data:blog.homepageUrl" name="a">
            <data:title />
        </b:tag>
    </h1>
</b:includable>