<b:includable id="main">
    <b:include name="widget-title" />
    <b:include name="content" />
</b:includable>
<b:includable id="content">
    <div class="widget-content">
        <b:tag cond="data:link" expr:href="data:link" name="a">
            <img expr:alt="data:title" expr:height="data:height" expr:id='data:widget.instanceId + "_img"' expr:src="data:sourceUrl" expr:width="data:width" expr:srcset="data:sourceSet" />
        </b:tag>
        <br />
        <b:if cond="data:caption">
            <span class="caption"><data:caption /></span>
        </b:if>
    </div>
</b:includable>