<b:includable id="main" var="this">
    <b:include name="widget-title" />
    <b:include name="content" />
</b:includable>
<b:includable id="cloud">
    <b:loop values="data:labels" var="label">
        <span class="label-size">
            <b:class expr:name='"label-size-" + data:label.cssSize' />
            <a class="label-name" expr:href="data:label.url">
                <data:label.name />
                <b:if cond="data:this.showFreqNumbers">
                    <span class="label-count"><data:label.count /></span>
                </b:if>
            </a>
        </span>
    </b:loop>
</b:includable>
<b:includable id="content">
    <div class="widget-content">
        <b:class expr:name='data:this.display + "-label-widget-content"' />
        <b:include cond='data:this.display == "list"' name="list" />
        <b:include cond='data:this.display == "cloud"' name="cloud" />
    </div>
</b:includable>
<b:includable id="list">
    <ul>
        <b:loop values="data:labels" var="label">
            <li>
                <a class="label-name" expr:href="data:label.url">
                    <data:label.name />
                    <b:if cond="data:this.showFreqNumbers">
                        <span class="label-count"><data:label.count /></span>
                    </b:if>
                </a>
            </li>
        </b:loop>
    </ul>
</b:includable>
