<b:includable id="main" var="this">
    <b:include name="widget-title" />
    <b:include name="content" />
</b:includable>
<b:includable id="authorProfileImage">
    <img class="profile-img" expr:alt="data:messages.myPhoto" expr:height="data:authorPhoto.height" expr:src="data:authorPhoto.image" expr:width="data:authorPhoto.width" />
</b:includable>
<b:includable id="content">
    <b:if cond="data:team">
        <div class="widget-content team">
            <b:include name="teamProfile" />
        </div>
        <b:else />
        <div class="widget-content individual">
            <b:include name="userProfile" />
        </div>
    </b:if>
</b:includable>
<b:includable id="defaultProfileImage">
    <div class="default-avatar" />
</b:includable>
<b:includable id="profileImage">
    <b:if cond="data:authorPhoto.image">
        <b:include name="authorProfileImage" />
        <b:else />
        <b:include name="defaultProfileImage" />
    </b:if>
</b:includable>
<b:includable id="teamProfile">
    <ul>
        <b:loop values="data:authors" var="author">
            <li>
                <div class="team-member">
                    <b:include data="author" name="teamProfileLink" />
                </div>
            </li>
        </b:loop>
    </ul>
</b:includable>
<b:includable id="teamProfileLink">
    <a class="profile-link g-profile" expr:href="data:userUrl" rel="nofollow">
        <b:include name="profileImage" />
        <span class="profile-name"><data:display-name /></span>
    </a>
</b:includable>
<b:includable id="userLocation">
    <dd class="profile-data location"><data:location /></dd>
</b:includable>
<b:includable id="userProfile">
    <b:include name="userProfileImage" />
    <b:include name="userProfileInfo" />
</b:includable>
<b:includable id="userProfileData">
    <dt class="profile-data">
        <a class="profile-link g-profile" expr:href="data:userUrl" rel="author nofollow">
            <data:displayname />
        </a>
    </dt>
</b:includable>
<b:includable id="userProfileImage">
    <a expr:href="data:userUrl" rel="nofollow">
        <b:include name="profileImage" />
    </a>
</b:includable>
<b:includable id="userProfileInfo">
    <div class="profile-info">
        <dl class="profile-datablock">
            <b:class cond='data:showlocation and data:location != ""' name="has-location" />

            <b:include name="userProfileData" />
            <b:include cond='data:showlocation and data:location != ""' name="userLocation" />
            <b:include cond='data:aboutme != ""' name="userProfileText" />
        </dl>
        <b:include name="viewProfileLink" />
    </div>
</b:includable>
<b:includable id="userProfileText">
    <dd class="profile-textblock">
        <data:aboutme />
    </dd>
</b:includable>
<b:includable id="viewProfileLink">
    <a class="profile-link" expr:href="data:userUrl" rel="author nofollow">
        <data:messages.viewMyCompleteProfile />
    </a>
</b:includable>