<b:includable id="main">
    <b:include name="widget-title" />
    <b:include name="content" />
</b:includable>
<b:includable id="content">
    <div class="widget-content">
        <!-- Content is going to be visible when data will be fetched from server. -->
        <div expr:id='data:widget.instanceId + "_content"' style="display: none">
            <!-- Counter and image will be injected later via AJAX call. -->
            <b:if cond="data:showSparkline">
                <script src="https://www.gstatic.com/charts/loader.js" type="text/javascript" />
                <span expr:id='data:widget.instanceId + "_sparklinespan"' style="display: inline-block; width: 75px; height: 30px" />
            </b:if>
            <span expr:class='"counter-wrapper " + (data:showGraphicalCounter ? "graph-counter-wrapper" : "text-counter-wrapper")' expr:id='data:widget.instanceId + "_totalCount"'> </span>
        </div>
    </div>
</b:includable>