<b:includable id="main">
    <b:include name="widget-title" />
    <b:include name="content" />
</b:includable>
<b:includable id="content">
    <div class="wikipedia-search-main-container">
        <form class="wikipedia-search-form" expr:id='data:widget.instanceId + "_wikipedia-search-form"' name="wikipedia">
            <div class="wikipedia-searchtable">
                <span>
                    <a class="wikipedia-search-wiki-link" href="https://wikipedia.org/wiki/" target="_blank">
                        <img align="top" class="wikipedia-icon" src="https://resources.blogblog.com/img/widgets/icon_wikipedia_w.png" />
                    </a>
                </span>
                <span class="wikipedia-search-bar">
                    <span class="wikipedia-input-box">
                        <input class="wikipedia-search-input" expr:id='data:widget.instanceId + "_wikipedia-search-input"' type="text" />
                    </span>
                    <span>
                        <input class="wikipedia-search-button" type="submit" />
                    </span>
                </span>
            </div>
        </form>
        <div class="wikipedia-search-results-header" expr:id='data:widget.instanceId + "_wikipedia-search-results-header"'><data:searchResultsMsg /></div>
        <div class="wikipedia-search-results" expr:id='data:widget.instanceId + "_wikipedia-search-results"' />
        <nobr>
            <div expr:dir="data:blog.languageDirection" expr:id='data:widget.instanceId + "_wikipedia-search-more"' />
        </nobr>
    </div>
    <br />
</b:includable>
