.pace {
  &:not(.pace-inactive) {
    .pace-progress {
      &::before,
      &::after {
        will-change: right, left;
        left: auto;
        right: 0;
      }
    }
  }
}

@keyframes paceIndeterminate {
  0% {
    left: 100%;
    right: -35%;
  }
  60% {
    left: -90%;
    right: 100%;
  }
  100% {
    left: -90%;
    right: 100%;
  }
}
@keyframes paceIndeterminateShort {
  0% {
    left: 100%;
    right: 200%;
  }
  60% {
    left: -8%;
    right: 107%;
  }
  100% {
    left: -8%;
    right: 107%;
  }
}
