<Variable name="body.background" description="Body Background" type="background" color="#ffffff" default="#ffffff url(//1.bp.blogspot.com/-3fxYMPSkglE/XXEqoYT86tI/AAAAAAAAGgQ/W4qTmxfWsg8fBXr26HNPhCFFeadM9_xgACPcBGAYYCw/ELC.jpg) repeat scroll top left" value="#ffffff url(//1.bp.blogspot.com/-3fxYMPSkglE/XXEqoYT86tI/AAAAAAAAGgQ/W4qTmxfWsg8fBXr26HNPhCFFeadM9_xgACPcBGAYYCw/ELC.jpg) repeat scroll top left" />

<Group description="Default Options">
    <Variable name="optionDefaultViewportZooming" description="Viewport Zooming (Disable | Enable)" type="length" default="1px" min="1px" max="2px" value="1px" />
</Group>
