<b:switch var='data:message'>
    <b:case value='transNoScript'/>
    <b:if cond='data:blog.locale == "id"'>
        Maaf, Blog ini tidak berfungsi dengan baik tanpa JavaScript.
        <b:elseif cond='data:blog.locale == "ar"'/>
        عذرا ، هذه المدونة لا تعمل بشكل صحيح بدون جافا سكريبت.
        <b:elseif cond='data:blog.locale == "es"'/>
        Lo sentimos, este blog no funciona correctamente sin JavaScript.
        <b:elseif cond='data:blog.locale == "de"'/>
        Entschuldigung, dieser Blog funktioniert ohne JavaScript nicht richtig.
        <b:elseif cond='data:blog.locale == "fr"'/>
        Désolé, ce blog ne fonctionne pas correctement sans JavaScript.
        <b:elseif cond='data:blog.locale == "hi"'/>
        क्षमा करें, यह ब्लॉग जावास्क्रिप्ट के बिना ठीक से काम नहीं करता है।
        <b:elseif cond='data:blog.locale == "it"'/>
        Siamo spiacenti, questo blog non funziona correttamente senza JavaScript.
        <b:elseif cond='data:blog.locale == "nl"'/>
        Sorry, deze blog werkt niet goed zonder JavaScript.
        <b:elseif cond='data:blog.locale == "pt"'/>
        Desculpe, este blog não funciona corretamente sem JavaScript.
        <b:elseif cond='data:blog.locale == "th"'/>
        ขออภัย บล็อกนี้ทำงานไม่ถูกต้องหากไม่มี JavaScript
        <b:else/>Sorry, this blog doesn't work properly without JavaScript.
    </b:if>
</b:switch>