<b:comment>
    ar = Arabic
    es = Spanish
    de = German
    fr = French
    hi = Hindi
    it = Italian
    nl = Dutch
    pt = Portuguese
    th = Thai
</b:comment>
<b:switch var='data:message'>
    <b:case value='transNoScript' />
    <b:if cond='data:blog.locale == "id"'>Maaf, <strong><data:blog.title /></strong> tidak berfungsi dengan baik tanpa JavaScript.
        <b:elseif cond='data:blog.locale == "es"'/>Lo sentimos, <strong><data:blog.title /></strong> no funciona correctamente sin JavaScript.
        <b:elseif cond='data:blog.locale == "de"'/>Tut mir leid, <strong><data:blog.title /></strong> funktioniert ohne JavaScript nicht richtig.
        <b:elseif cond='data:blog.locale == "fr"'/>Désolé, <strong><data:blog.title /></strong> ne fonctionne pas correctement sans JavaScript.
        <b:elseif cond='data:blog.locale == "it"'/>Spiacenti, <strong><data:blog.title /></strong> non funziona correttamente senza JavaScript.
        <b:elseif cond='data:blog.locale == "nl"'/>Sorry, <strong><data:blog.title /></strong> werkt niet goed zonder JavaScript.
        <b:elseif cond='data:blog.locale == "pt"'/>Desculpe, <strong><data:blog.title /></strong> não funciona corretamente sem JavaScript.
        <b:elseif cond='data:blog.locale == "ar"'/>عذرًا ، <strong><data:blog.title /></strong> لا يعمل بشكل صحيح بدون JavaScript.
        <b:elseif cond='data:blog.locale == "hi"'/>क्षमा करें, <strong><data:blog.title /></strong> जावास्क्रिप्ट के बिना ठीक से काम नहीं करता है।
        <b:elseif cond='data:blog.locale == "th"'/>ขออภัย <strong><data:blog.title /></strong> ทำงานไม่ถูกต้องหากไม่มี JavaScript
        <b:else />Sorry, <strong><data:blog.title /></strong> doesn't work properly without JavaScript.
    </b:if>
</b:switch>