<meta charset='UTF-8' />
<meta name='viewport' expr:content='data:skin.vars.defaultOptionViewportPinch == "1px" ? "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" : "width=device-width, initial-scale=1.0"' />
<meta name='description' expr:content='data:blog.metaDescription ? data:blog.metaDescription.escaped : data:view.description.escaped' />
<b:with value='data:view.isSingleItem ? data:view.title.escaped + " | " + data:blog.title.escaped : data:view.isArchive ? data:messages.archive.escaped + ": " + data:blog.pageName.escaped + " | " + data:blog.title.escaped :
data:view.isSearch ? data:blog.pageName.escaped + " | " + data:blog.title.escaped : data:view.isError ? data:messages.theresNothingHere.escaped : data:blog.title.escaped' var='blog_title'>
    <title>
        <data:blog_title />
    </title>
</b:with>