<b:section id='header_widget_logo_title_section' class='header_widget_logo_title_section' name='Header Logo and Title' showaddelement='false' maxwidgets='1'>
    <b:widget id='Header1' locked='true' title='Blog (Header)' type='Header' visible='true'>
        <b:includable id='main' var='this'>
            <b:if cond='data:widgets any (w => w.id == "LinkList999")'>
                <button id='button_menu' class='elcreative_button_icon button_menu elcreative_ripple' aria-label='Menu' title='Menu' type='button'>
                    <svg width='24' height='24' viewBox='0 0 24 24'>
                        <b:include data='{iconId: "icon_menu"}' name='defaultIcons' />
                    </svg>
                </button>
            </b:if>
            <a expr:href='data:blog.homepageUrl' expr:title='data:blog.title'>
                <b:tag cond='data:imagePlacement in {"REPLACE", "BEFORE_DESCRIPTION"}' name='img' expr:src='resizeImage(data:image, 26)' expr:alt='data:title' expr:width='data:width' expr:height='data:height' loading='lazy' />
                <h1 expr:class='data:imagePlacement in {"REPLACE"} ? "visibility_hidden" : "no_class"'>
                    <data:title />
                </h1>
            </a>
        </b:includable>
    </b:widget>
</b:section>