<b:section id='main_widget_section' class='main_widget_section' name='Main Section' showaddelement='false' maxwidgets='2'>
    <b:widget id='Blog1' locked='true' title='Blog (Blog Posts)' type='Blog' visible='true'>
        <b:includable id='main' var='this'>
            <noscript>
                <div class='elcreative_alert alert_warning'>
                    <b:include data='{message: "transNoScript"}' name='translate' />
                </div>
            </noscript>
        </b:includable>
    </b:widget>
</b:section>