<b:section id='navigation_widget_section' class='navigation_widget_section' name='Navigation Drawer and More Menu' showaddelement='false' maxwidgets='2'>
    <b:widget id='LinkList999' locked='true' title='Navigation Drawer Menu' type='LinkList' visible='true'>
        <b:includable id='main'>
            <b:class expr:name='"navigation_drawer_menu desktop_edge_" + data:skin.vars.navDrawerMenuOptionDesktopEdge + " mobile_edge_" + data:skin.vars.navDrawerMenuOptionMobileEdge + " desktop_state_" + data:skin.vars.navDrawerMenuOptionDesktopState' />
            <ul expr:class='data:skin.vars.featuresSubMenu == "2px" ? "visibility_hidden" : "no_class"'>
                <b:loop values='data:links' var='link'>
                    <li expr:class='data:blog.canonicalUrl == data:link.target or (data:blog.url == data:link.target) ? "selected" : "no_class"'>
                        <a expr:href='data:link.target' class='drawer_menu_link elcreative_ripple'>
                            <span class='drawer_menu_item'><data:link.name /></span>
                        </a>
                    </li>
                </b:loop>
            </ul>
        </b:includable>
        <b:includable id='content' />
    </b:widget>
    <b:widget id='PageList999' locked='true' title='More Menu' type='PageList' visible='true'>
        <b:includable id='main'>
            <b:class name='elcreative_dropdown overflow_menu' />
            <ul expr:class='data:pageListClass ? data:pageListClass : "no_class"'>
                <b:loop values='data:links' var='link'>
                    <li expr:class='data:link.isCurrentPage ? "selected" : "no_class"'>
                        <a expr:href='data:link.href' class='dropdown_item overflow_menu_link elcreative_ripple'>
                            <data:link.title />
                        </a>
                    </li>
                </b:loop>
            </ul>
        </b:includable>
    </b:widget>
</b:section>