// Button Icons
.elcreative_button_icon {
  appearance: none;
  align-items: center;
  border: none;
  background-color: transparent;
  border-radius: 100px;
  cursor: pointer;
  color: var(--defaultColorButtonIcon);
  display: inline-flex;
  font-size: 0;
  flex: 0 0 auto;
  justify-content: center;
  line-height: 0;
  outline: none;
  overflow: hidden;
  padding: 8px;
  position: relative;

  &:hover,
  &:focus {
    background-color: var(--defaultColorButtonIconHover);
  }

  &:active {
    background-color: var(--defaultColorButtonIconHoverActive);
  }

  svg {
    fill: currentColor;
    height: inherit;
    width: inherit;
  }
}
