* {
  -webkit-tap-highlight-color: transparent;
}
*:focus {
  outline: none;
}
*,
::after,
::before {
  box-sizing: border-box;
}
::placeholder {
  color: inherit;
}
:target::before {
  content: '';
  display: block;
  height: 74px;
  margin: -74px 0 0;
}
body {
  background: var(--background);
  color: var(--color-text);
  font: var(--font);
}
.no-items,
.hidden {
  display: none;
}
.visibility_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  padding: 0;
  width: 0;
}
