.Blog {
  .blog_posts {
    .post_outer_container {
      overflow: hidden;
      position: relative;
      user-select: none;

      &:not(:last-child) {
        margin-bottom: 12px;
      }

      &.posts_fade {
        animation: fadeUp 0.6s ease-out;

        @keyframes fadeUp {
          from {
            opacity: 0;
            transform: translate3d(0, 5px, 0);
          }
          to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }
      }

      .post_container_start {
        align-items: center;

        .post_header_start {
          width: 100%;

          .post_label {
            align-items: center;
            color: var(--indexColorLabel);
            display: flex;
            font-size: 14px;
            font-weight: 500;
            flex-direction: row;
            height: 28px;
            justify-content: center;
            margin-bottom: 4px;
            text-decoration: none;

            &:hover {
              color: var(--indexColorLabelHover);
            }

            svg {
              fill: currentColor;
              height: 16px;
              margin: 0 4px 0 0;
              width: 16px;
            }
          }

          .post_title {
            color: var(--indexColorTitle);
            font-size: 18px;
            margin-bottom: 4px;
            text-decoration: none;

            &:hover {
              color: var(--indexColorTitleHover);
            }

            h2 {
              color: inherit;
              font-size: inherit;
              margin: 0;
            }
          }

          .post_meta {
            color: var(--indexColorMeta);
            flex-direction: row;
            justify-content: flex-start;

            .byline {
              &:not(:first-child) {
                &::before {
                  content: var(--bullets);
                  margin: 0 4px;
                }
              }
            }
          }

          .post_snippet {
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            color: var(--indexColorSnippet);
            display: -webkit-box;
            font-size: 13px;
            margin: 0;
            overflow: hidden;
            position: relative;
            text-overflow: ellipsis;
          }
        }

        .post_header_end {
          .post_image {
            display: block;
            position: relative;

            span {
              border-radius: inherit;
            }
          }
        }
      }

      .post_container_end {
        flex-direction: row;
        flex-wrap: wrap;

        .post_jumplink {
          align-items: center;
          display: flex;
          color: var(--indexColorJumplink);
          font-size: 14px;
          flex-direction: row;
          justify-content: center;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          svg {
            fill: currentColor;
            height: 14px;
            margin: 0 4px 0 0;
            width: 14px;
          }
        }

        .comment_link {
          align-items: center;
          color: var(--indexColorCommentlink);
          display: flex;
          font-size: 14px;
          flex-direction: row;
          justify-content: center;
          text-decoration: none;
          text-transform: capitalize;

          &:hover {
            text-decoration: underline;
          }

          svg {
            fill: currentColor;
            height: 14px;
            width: 14px;
          }
        }
      }
    }

    .inline_ad {
      width: 100%;
      user-select: none;

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    // Desktop Screen
    @media screen and (min-width: 1200px) {
      &.posts_desktop_list {
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .post_outer_container {
          &.posts_desktop_edge_shadow {
            padding: 12px;
          }

          &.posts_desktop_edge_bordered {
            padding: 12px;
          }

          .post_container_start {
            flex-direction: row;

            .post_header_start {
              margin: 0 8px 0 0;
            }

            .post_header_end {
              .post_image {
                border-radius: var(--indexOptionImageRadius);
                height: 100px;
                width: 100px;
              }
            }
          }
        }
      }

      &.posts_desktop_grid {
        align-items: flex-start;
        flex-flow: row wrap;
        justify-content: space-between;

        .post_outer_container {
          max-width: 49%;
          flex: 1 1 50%;

          &:not(.posts_desktop_edge_shadow):not(.posts_desktop_edge_bordered) {
            .post_container_start {
              .post_header_start {
                padding: 12px 12px 0 12px;
              }

              .post_header_end {
                .post_image {
                  border-radius: var(--indexOptionImageRadius);
                }
              }
            }

            .post_container_end {
              padding: 0 12px 12px 12px;
            }
          }

          &.posts_desktop_edge_shadow {
            overflow: hidden;

            .post_container_start {
              .post_header_start {
                padding: 12px 0 0 0;
              }
            }
          }

          &.posts_desktop_edge_bordered {
            overflow: hidden;

            .post_container_start {
              .post_header_start {
                padding: 12px 0 0 0;
              }
            }
          }

          .post_container_start {
            flex-direction: column-reverse;

            .post_header_start {
              .post_title {
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                display: -webkit-box;
                overflow: hidden;
                position: relative;
                text-overflow: ellipsis;
              }
            }

            .post_header_end {
              position: relative;
              width: 100%;

              .post_image {
                height: unset;
                left: 50%;
                top: 50%;
                transform: translate(-50%, 0%);
                width: 100%;

                span {
                  padding-top: 56.25%;
                }
              }
            }
          }
        }

        .inline_ad {
          max-width: 49.5%;
          flex: 1 1 50%;
        }
      }

      .post_outer_container {
        &.posts_desktop_edge_shadow {
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3),
            0 1px 3px 1px rgba(0, 0, 0, 0.15);
          border-radius: var(--indexOptionBorderRadius);
          background-color: var(--indexColorBackground);
        }

        &.posts_desktop_edge_border_bottom {
          border-bottom: 1px solid var(--indexColorBorder);
          padding-bottom: 12px;
        }

        &.posts_desktop_edge_bordered {
          border: 1px solid var(--indexColorBorder);
          border-radius: var(--indexOptionBorderRadius);
          background-color: var(--indexColorBackground);
        }
      }
    }
  }
}
