.Blog {
  .blog_posts {
    .post_outer_container {
      .post_container_start {
        .post_header_start {
          .post_breadcrumb {
            align-items: center;
            color: var(--itemColorBreadcrumb);
            display: flex;
            flex-direction: row;
            font-size: 14px;
            justify-content: center;
            margin-bottom: 4px;

            a {
              color: inherit;
              text-decoration: none;

              &:not(:first-child) {
                &::before {
                  content: ' / ';
                  margin: 0 4px;
                }
              }
            }
          }

          .post_title {
            color: var(--itemColorTitle);
            font-size: 22px;
            margin: 0 0 4px 0;
            text-decoration: none;
          }

          .post_snippet {
            color: var(--itemColorSnippet);
            font-size: 15px;
            margin-bottom: 8px;
          }

          .post_meta {
            box-sizing: border-box;
            color: var(--itemColorMeta);
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            .post_meta_start {
              align-items: center;
              display: flex;
              flex-wrap: wrap;
              flex-direction: row;
              justify-content: space-between;

              .meta_author_image {
                border-radius: 100px;
                height: 42px;
                margin: 0 8px 0 0;
                width: 42px;
                position: relative;

                span {
                  border-radius: inherit;
                }

                svg {
                  background-color: var(--defaultColorBackground);
                  bottom: 0;
                  border-radius: 100px;
                  fill: var(--itemColorLink);
                  position: absolute;
                  right: 0;
                  z-index: 2;
                }
              }

              .meta_author_datetime {
                align-items: flex-start;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: space-between;
              }
            }

            .post_meta_end {
              align-items: flex-start;
              display: flex;
              flex-wrap: wrap;
              flex-direction: row;
              justify-content: space-between;

              .elcreative_button_icon {
                &:not(.button_close_dialog) {
                  color: var(--itemColorMeta);
                }

                &:not(:last-child) {
                  margin: 0 2px;
                }

                &.button_comment {
                  overflow: unset;
                  position: relative;
                }
              }
            }
          }
        }
      }
    }
  }
}
