body#layout {
    background-color: #fff;
    border: none;

    &::before {
        content: var(--version);
        font-family: Roboto, sans-serif;
        font-size: 20px;
        margin-bottom: 24px;
        display: block;
    }

    .app {
        margin: 0 auto;
        max-width: 820px;

        .elcreative_container {
            overflow: hidden;
            position: relative;

            main {
                max-width: 58.5%;
                float: left;
                width: 100%;
            }

            aside {
                max-width: 40%;
                float: right;
                width: 100%;
            }
        }

        .section {
            max-width: 980px;
            margin: 0 auto;
            background-color: transparent;
            border-radius: 8px;
            margin-bottom: 12px;
            border-color: #dadce4;
            overflow: hidden;
            position: relative;

            &#hidden {
                h4 {
                    &::after {
                        content: "It won't appear anywhere. It's hidden by default, but you can still add hidden gadgets in it.";
                    }
                }
            }

            &.elcreative_panel_top {
                border-color: #2E7D32;
                background-color: #2E7D321f;

                h4 {
                    &::after {
                        content: 'Please dont include anything other than what is in the documentation.';
                    }
                }
            }

            &.elcreative_panel_bottom {
                border-color: #2E7D32;
                background-color: #2E7D321f;

                h4 {
                    &::after {
                        content: 'Please dont include anything other than what is in the documentation.';
                    }
                }
            }

            &.section_main_top_widget {
                h4 {
                    &::after {
                        content: 'It will only appear on the Homepage.';
                    }
                }
            }

            &.section_main_bottom_widget {
                h4 {
                    &::after {
                        content: 'It will only appear on the Homepage.';
                    }
                }
            }

            h4 {
                font-weight: 500;
                margin: 0 0 12px;
                font-size: 18px;
                text-align: center;

                &::after {
                    display: block;
                    font-size: 12px;
                    color: #757575;
                    line-height: 1.25em;
                    margin-top: 4px;
                }
            }

            .widget {
                &#HTML998 {
                    max-width: 49.3%;
                    float: left;
                    width: 100%;
                }

                &#HTML999 {
                    max-width: 49.3%;
                    float: right;
                    width: 100%;
                }

                &#LinkList995 {
                    max-width: 49.3%;
                    float: left;
                    width: 100%;
                }

                &#LinkList996 {
                    max-width: 49.3%;
                    float: right;
                    width: 100%;
                }

                &#PageList999 {
                    max-width: 49.3%;
                    float: right;
                    width: 100%;
                }

                &#LinkList998 {
                    max-width: 49.3%;
                    float: left;
                    width: 100%;
                }

                &#LinkList999 {
                    max-width: 49.3%;
                    float: left;
                    width: 100%;
                }

                &.Attribution {
                    .widget-wrap2 {
                        background-color: #bbb;
                    }

                    .widget-content {
                        .layout-title {
                            color: #bbb;
                        }

                        .layout-widget-description {
                            color: #bbb;
                        }
                    }
                }

                &.BloggerButton {
                    .widget-wrap2 {
                        background-color: #bbb;
                    }

                    .widget-content {
                        .layout-title {
                            color: #bbb;
                        }

                        .layout-widget-description {
                            color: #bbb;
                        }
                    }
                }

                &.BlogSearch {
                    .widget-wrap2 {
                        background-color: #bbb;
                    }

                    .widget-content {
                        .layout-title {
                            color: #bbb;
                        }

                        .layout-widget-description {
                            color: #bbb;
                        }
                    }
                }

                &.Followers {
                    .widget-wrap2 {
                        background-color: #bbb;
                    }

                    .widget-content {
                        .layout-title {
                            color: #bbb;
                        }

                        .layout-widget-description {
                            color: #bbb;
                        }
                    }
                }

                &.Header:not(#Header1) {
                    .widget-wrap2 {
                        background-color: #bbb;
                    }

                    .widget-content {
                        .layout-title {
                            color: #bbb;
                        }

                        .layout-widget-description {
                            color: #bbb;
                        }
                    }
                }

                &.draggable-widget {
                    .widget-wrap2 {
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                        background-color: #2E7D32;
                    }

                    .widget-content {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                    }
                }

                &.locked-widget {
                    .widget-content {
                        border-radius: 8px;
                    }
                }

                .widget-content {
                    .editlink {
                        background-size: 18px;
                        border: 1px solid #dadce4;
                        border-radius: 8px;
                        box-sizing: content-box;

                        &:hover {
                            background-color: #ebeced;
                        }
                    }

                    .layout-title {
                        color: #202124;
                    }

                    .layout-widget-description {
                        font-size: 12px;
                        color: #5f6368;
                        font-style: italic;
                    }
                }
            }

            .add_widget {
                border-radius: 8px;

                a {
                    color: #2E7D32;
                }
            }
        }
    }
}
