// Desktop
@media screen and (min-width: 980px) {
  // Header
  .elcreative_header {
    min-height: 64px;

    .header_section {
      &.header_start {
        min-width: 200px;
      }

      &.header_center {
        body:not(.--search_active) &.__search_desktop_hidden {
          display: none;
        }
        form {
          background-color: var(--headerColorTextTransparent1);

          &:focus-within {
            background-color: var(--headerColorTextTransparent2);
            box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3),
              0 1px 3px 1px rgba(65, 69, 73, 0.15);
          }

          .elcreative_button_icon {
            margin: 0 4px;

            &.button_close_search {
              display: none;
            }
          }

          input {
            line-height: 48px;
          }
        }
      }

      &.header_end {
        min-width: 200px;

        .elcreative_button_icon {
          &:not(.__search_desktop_hidden).button_toggle_search {
            display: none;
          }
        }
      }
    }
  }
}

// Mobile
@media screen and (max-width: 980px) {
  // Header
  .elcreative_header {
    min-height: 56px;

    .header_section {
      &.header_start {
        body.--search_active & {
          display: none;
        }
      }

      &.header_center {
        body:not(.--search_active) & {
          display: none;
        }

        form {
          input {
            line-height: 40px;
          }
        }
      }

      &.header_end {
        body.--search_active & {
          display: none;
        }
      }
    }
  }
}
