// Preloader
.pace {
  &:not(.pace-inactive) {
    .pace-progress {
      right: unset;
      left: 100%;

      body.preloader_indeterminate & {
        &::before {
          will-change: right, left;
          left: unset;
          right: 0;
        }

        &::after {
          will-change: right, left;
          left: unset;
          right: 0;
        }

        @keyframes animIndeterminate {
          0% {
            left: 100%;
            right: -35%;
          }
          60% {
            left: -90%;
            right: 100%;
          }
          100% {
            left: -90%;
            right: 100%;
          }
        }

        @keyframes animIndeterminateShort {
          0% {
            left: 100%;
            right: 200%;
          }
          60% {
            left: -8%;
            right: 107%;
          }
          100% {
            left: -8%;
            right: 107%;
          }
        }
      }
    }
  }

  &.pace-inactive {
    display: none;
  }
}

// Dropdown
.elcreative_dropdown {
  transform-origin: right top;
}

// Alerts
.elcreative_alert {
  &:after {
    left: unset;
    right: -15px;
  }
}

// Header
.elcreative_header {
  .header_section {
    &.header_start {
      margin: 0 0 0 8px;

      .Header {
        .elcreative_button_icon {
          margin: 0 0 0 4px;
        }

        img {
          margin: 0 0 0 8px;
        }
      }
    }

    &.header_end {
      margin: 0 8px 0 0;
    }
  }
}

// Navigation
.elcreative_navigation {
  // Drawer Menu
  .navigation_drawer_menu {
    left: unset;
    right: 0;

    ul {
      li {
        .drawer_menu_link {
          border-radius: 25px 0 0 25px;
          padding: 10px 16px 10px 0;

          &[data-toggle-class] {
            &.--active::after {
              transform: rotate(-180deg);
            }
          }

          .drawer_menu_item {
            svg {
              margin: 0 0 0 12px;
            }
          }
        }

        ul {
          li {
            .drawer_menu_link {
              padding: 10px 52px 10px 0;
            }
          }
        }

        &.selected {
          .drawer_menu_link {
            left: unset;
            right: 0;

            &::before {
              left: unset;
              right: 0;
            }
          }
        }
      }
    }

    // Desktop Screen
    @media screen and (min-width: 1200px) {
      body:not(.error_page):not(.--drawer_menu_active)
        &.desktop_edge_3px.desktop_state_2px {
        border-right: none;
        border-left: 1px solid var(--navDrawerMenuColorBorder);
      }

      body:not(.error_page).--drawer_menu_active
        &.desktop_edge_3px.desktop_state_1px {
        border-right: none;
        border-left: 1px solid var(--navDrawerMenuColorBorder);
      }

      body.error_page.--drawer_menu_active &.desktop_edge_3px {
        border-right: none;
        border-left: 1px solid var(--navDrawerMenuColorBorder);
      }

      body:not(.error_page):not(.--drawer_menu_active) &.desktop_state_1px {
        transform: translateX(300px);
      }

      body:not(.error_page).--drawer_menu_active &.desktop_state_2px {
        transform: translateX(300px);
      }

      body.error_page:not(.--drawer_menu_active) & {
        transform: translateX(300px);
      }
    }

    // Mobile Screen
    @media screen and (max-width: 1200px) {
      body.--drawer_menu_active &.mobile_edge_3px {
        border-right: none;
        border-left: 1px solid var(--navDrawerMenuColorBorder);
      }

      body:not(.--drawer_menu_active) & {
        transform: translateX(300px);
      }
    }
  }

  // More Menu
  .overflow_menu {
    right: unset;
    left: 0;
    transform-origin: left top;

    ul {
      li {
        .dropdown_item {
          svg {
            margin: 0 0 0 8px;
          }
        }
      }
    }
  }
}

// Section
.elcreative_section {
  // Main Section
  .elcreative_main {
    .Blog {
      .search_query {
        .message_query {
          .query_icon {
            margin: 0 0 0 12px;
          }
        }

        .query_more {
          svg {
            margin: 0 8px 0 0;
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  // Desktop Screen
  @media screen and (min-width: 1200px) {
    &.drawer_exists {
      body:not(.error_page):not(.--drawer_menu_active) &.desktop_state_2px {
        margin: 0 300px 0 0;
      }
    }
  }
}
