* {
  -webkit-tap-highlight-color: transparent;
}
*:focus {
  outline: none;
}
*,
::after,
::before {
  box-sizing: border-box;
}
::placeholder {
  color: inherit;
}
:target::before {
  content: '';
  display: block;
  height: 74px;
  margin: -74px 0 0;
}
html {
  line-height: 1.5;
}
body {
  background-color: var(--bodyBackgroundColor);
  color: var(--defaultColorText);
  font-size: var(--bodyFontSize);
  font-family: var(--bodyFontFamily);
  padding: 0;
}
[hidden],
.no-items,
.hidden {
  display: none;
}
.visibility_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  padding: 0;
  width: 0;
}

//
// Backdrop
//
.backdrop {
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  height: 100vh;
  left: 0;
  opacity: 0;
  padding: 14px;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  visibility: hidden;
  z-index: 996;

  // Desktop Screen
  @media screen and (min-width: 1200px) {
    body.--drawer_menu_active &.drawer_desktop_modal {
      opacity: 1;
      visibility: visible;
    }
    body.error_page.--drawer_menu_active & {
      opacity: 1;
      visibility: visible;
    }
  }

  // Mobile Screen
  @media screen and (max-width: 1200px) {
    body.--drawer_menu_active & {
      opacity: 1;
      visibility: visible;
    }
  }
}

//
// Ripple Effect
//
.ripple_container {
  bottom: 0;
  color: transparent;
  left: 0;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
  right: 0;
  transform: perspective(0);
  top: 0;

  i {
    border-radius: 50%;
    background-color: var(--rippleEffectColor);
    position: absolute;
    transition: opacity 640ms ease 0s, transform 640ms ease 0s;
  }
}

//
// Button Icon
//
.elcreative_button_icon {
  appearance: none;
  align-items: center;
  border: none;
  background-color: transparent;
  border-radius: 100px;
  cursor: pointer;
  color: var(--defaultColorButtonIcon);
  display: inline-flex;
  font-size: 0;
  flex: 0 0 auto;
  justify-content: center;
  line-height: 0;
  outline: none;
  overflow: hidden;
  padding: 8px;
  position: relative;

  &:hover {
    background-color: var(--defaultColorButtonIconTransparent1);
  }

  &:focus {
    background-color: var(--defaultColorButtonIconTransparent1);
  }

  &:active {
    background-color: var(--defaultColorButtonIconTransparent2);
  }

  svg {
    fill: currentColor;
    height: inherit;
    width: inherit;
  }
}

//
// Dropdown
//
.dropdown_container {
  position: relative;

  .elcreative_dropdown {
    top: 0;
  }
}
.elcreative_dropdown {
  background-color: var(--defaultColorDropdownBackground);
  border-radius: 8px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  max-height: 60vh;
  max-width: 320px;
  min-width: 124px;
  overflow: hidden;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  padding: 8px 0;
  scrollbar-width: thin;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    visibility 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: scale(0);
  transform-origin: left top;
  visibility: hidden;
  z-index: 998;

  .rtl & {
    transform-origin: right top;
  }

  &.--active {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      &.selected {
        background-color: var(--defaultColorDropdownTextTransparent1);
      }

      .dropdown_item {
        appearance: none;
        align-items: center;
        background-color: transparent;
        border: none;
        color: var(--defaultColorDropdownText);
        cursor: pointer;
        display: flex;
        font-size: 14px;
        justify-content: flex-start;
        outline: none;
        padding: 8px 16px;
        position: relative;
        text-decoration: none;
        text-align: start;
        user-select: none;
        width: 100%;

        &:hover {
          background-color: var(--defaultColorDropdownTextTransparent1);
        }

        &:focus {
          background-color: var(--defaultColorDropdownTextTransparent1);
        }

        &:active {
          background-color: var(--defaultColorDropdownTextTransparent2);
        }

        svg {
          fill: currentColor;
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

//
// Header
//
.elcreative_header {
  align-items: center;
  background-color: var(--headerColorBackground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 64px;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 998;

  .elcreative_button_icon {
    color: var(--headerColorButtonIcon);

    &:hover {
      background-color: var(--headerColorButtonIconTransparent1);
    }

    &:focus {
      background-color: var(--headerColorButtonIconTransparent1);
    }

    &:active {
      background-color: var(--headerColorButtonIconTransparent2);
    }

    .ripple_container {
      i {
        background-color: var(--headerColorButtonIconTransparent2);
      }
    }
  }

  // headerOptionEdge = 2px
  &.header_border {
    border-bottom: 1px solid var(--headerColorBorder);
  }

  // headerOptionEdge = 3px
  &.header_shadow {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0px rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  }

  .header_primary {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 0 8px;
    width: 100%;
  }

  .header_secondary {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 8px 8px 8px;
    width: 100%;
  }

  .header_section {
    align-items: center;
    display: flex;
    flex-direction: row;

    &.header_start {
      justify-content: flex-start;
      margin: 0 8px 0 0;
      max-width: max-content;
      width: 100%;

      .rtl & {
        margin: 0 0 0 8px;
      }

      .Header {
        align-items: center;
        display: flex;
        justify-content: center;

        .elcreative_button_icon {
          margin: 0 4px 0 0;

          .rtl & {
            margin: 0 0 0 4px;
          }
        }

        a {
          align-items: center;
          color: var(--headerColorText);
          display: inline-flex;
          font-size: 18px;
          font-weight: 500;
          justify-content: center;
          text-decoration: none;
        }

        h1 {
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          color: inherit;
          display: -webkit-box;
          font-size: inherit;
          font-weight: inherit;
          line-height: 1.5;
          margin: 0;
          overflow: hidden;
          position: relative;
          text-overflow: ellipsis;
        }

        img {
          color: transparent;
          flex: 0 0 auto;
          max-height: 26px;
          margin: 0 8px 0 0;
          overflow: hidden;
          text-indent: -9999px;
          width: auto;

          .rtl & {
            margin: 0 0 0 8px;
          }
        }
      }

      // Desktop Screen
      @media screen and (min-width: 980px) {
        min-width: 200px;
      }

      // Mobile Screen
      @media screen and (max-width: 980px) {
        body.--search_active & {
          display: none;
        }
      }
    }

    &.header_center {
      justify-content: center;
      width: 100%;

      form {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        transition: box-shadow 280ms ease-in-out;

        input {
          background-color: transparent;
          border: none;
          color: var(--headerColorText);
          font-family: inherit;
          font-size: 14px;
          line-height: 48px;
          margin: 0 4px;
          outline: none;
          padding: 0;
          width: 100%;

          // Mobile Screen
          @media screen and (max-width: 980px) {
            line-height: 40px;
          }
        }

        // Desktop Screen
        @media screen and (min-width: 980px) {
          border-radius: var(--headerOptionSearchRadius);
          background-color: var(--headerColorTextTransparent1);
          max-width: 780px;

          &:focus-within {
            background-color: var(--headerColorTextTransparent2);
            box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3),
              0 1px 3px 1px rgba(65, 69, 73, 0.15);
          }

          .elcreative_button_icon {
            margin: 0 4px;

            &.button_close_search {
              display: none;
            }
          }
        }
      }

      // Desktop Screen
      @media screen and (min-width: 980px) {
        // headerOptionSearchDesktop = 2px
        body:not(.--search_active) &.search_desktop_hidden {
          display: none;
        }
      }

      // Mobile Screen
      @media screen and (max-width: 980px) {
        body:not(.--search_active) & {
          display: none;
        }
      }
    }

    &.header_end {
      justify-content: flex-end;
      margin: 0 0 0 8px;
      max-width: max-content;
      width: 100%;

      .rtl & {
        margin: 0 8px 0 0;
      }

      .elcreative_button_icon {
        &:not(:last-child) {
          margin: 0 2px;
        }

        // headerOptionSearchDesktop = 2px
        &.button_toggle_search {
          &.search_desktop_hidden {
            body:not(.--search_active) & {
              path:last-child {
                display: none;
              }
            }
            body.--search_active & {
              path:first-child {
                display: none;
              }
            }
          }
        }

        // Desktop Screen
        @media screen and (min-width: 980px) {
          &.button_toggle_search {
            &:not(.search_desktop_hidden) {
              display: none;
            }
          }
        }
      }

      // Desktop Screen
      @media screen and (min-width: 980px) {
        min-width: 200px;
      }

      // Mobile Screen
      @media screen and (max-width: 980px) {
        body.--search_active & {
          display: none;
        }
      }
    }
  }

  // Mobile Screen
  @media screen and (max-width: 980px) {
    min-height: 56px;
  }
}

//
// Navigation
//
.elcreative_navigation {
  // Drawer Menu (LinkList999)
  .navigation_drawer_menu {
    bottom: 0;
    background-color: var(--navDrawerMenuColorBackground);
    height: calc(100vh - 64px);
    left: 0;
    max-width: 300px;
    overflow: hidden;
    position: fixed;
    padding: 14px 0;
    scrollbar-width: thin;
    transition: transform 0.28s cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
      border-width 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    top: 64px;
    width: 100%;
    z-index: 997;

    .rtl & {
      left: unset;
      right: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        .drawer_menu_link {
          appearance: none;
          align-items: center;
          border: none;
          border-radius: 0 25px 25px 0;
          background-color: transparent;
          color: var(--navDrawerMenuColorText);
          cursor: pointer;
          display: flex;
          font-size: 14px;
          justify-content: space-between;
          min-height: 44px;
          max-width: 285px;
          overflow: hidden;
          outline: none;
          position: relative;
          padding: 10px 0 10px 16px;
          text-decoration: none;
          transition: background-color 0.4s;
          user-select: none;
          width: 100%;

          &:hover {
            background-color: var(--navDrawerMenuColorTextTransparent1);
          }

          &:focus {
            background-color: var(--navDrawerMenuColorTextTransparent1);
          }

          &:active {
            background-color: var(--navDrawerMenuColorTextTransparent2);
          }

          .rtl & {
            border-radius: 25px 0 0 25px;
            padding: 10px 16px 10px 0;
          }

          .ripple_container {
            i {
              background-color: var(--navDrawerMenuColorTextTransparent2);
            }
          }

          // featuresSubMenu = 2px
          &[data-toggle-class]::after {
            content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPScjOWFhMGE2Jz48cGF0aCBkPSJNNywxMEwxMiwxNUwxNywxMEg3WiIgLz48L3N2Zz4=);
            flex: 0 0 auto;
            height: 24px;
            margin: 0 8px;
            transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
            width: 24px;
          }
          &.--active::after {
            transform: rotate(180deg);
          }

          .drawer_menu_item {
            align-items: center;
            display: flex;
            justify-content: flex-start;

            svg {
              fill: currentColor;
              flex: 0 0 auto;
              height: 24px;
              margin: 0 12px 0 0;
              width: 24px;

              .rtl & {
                margin: 0 0 0 12px;
              }
            }
          }
        }

        // featuresSubMenu = 2px
        .drawer_sub {
          &:not(.--active) li {
            max-height: 0;
          }

          &.--active li {
            max-height: 60px;
          }

          li {
            overflow: hidden;
            transition: max-height 0.9s cubic-bezier(0.24, 1, 0.32, 1);

            .drawer_menu_link {
              padding: 10px 0 10px 52px;

              .rtl & {
                padding: 10px 52px 10px 0;
              }
            }
          }
        }

        &.selected {
          .drawer_menu_link {
            background-color: var(--navDrawerMenuColorSelectedTransparent1);
            color: var(--navDrawerMenuColorSelected);
            font-weight: 500;

            &::before {
              background-color: var(--navDrawerMenuColorSelected);
              content: '';
              height: 100%;
              left: 0;
              position: absolute;
              width: 4px;

              .rtl & {
                left: unset;
                right: 0;
              }
            }
          }
        }
      }
    }

    // Desktop Screen
    @media screen and (min-width: 1200px) {
      body.error_page:not(.--drawer_menu_active) & {
        transform: translateX(-300px);

        .rtl & {
          transform: translateX(300px);
        }
      }

      body.error_page.--drawer_menu_active &.drawer_desktop_border {
        border-right: 1px solid var(--navDrawerMenuColorBorder);

        .rtl & {
          border-right: none;
          border-left: 1px solid var(--navDrawerMenuColorBorder);
        }
      }

      body.error_page.--drawer_menu_active &.drawer_desktop_shadow {
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3),
          0 6px 10px 4px rgba(0, 0, 0, 0.15);
      }

      //
      // navDrawerMenuOptionDesktopState = 1px
      //
      body:not(.error_page):not(.--drawer_menu_active) &.drawer_desktop_modal {
        transform: translateX(-300px);

        .rtl & {
          transform: translateX(300px);
        }
      }

      // navDrawerMenuOptionDesktopEdge = 2px
      body:not(.error_page).--drawer_menu_active
        &.drawer_desktop_border.drawer_desktop_modal {
        border-right: 1px solid var(--navDrawerMenuColorBorder);

        .rtl & {
          border-right: none;
          border-left: 1px solid var(--navDrawerMenuColorBorder);
        }
      }

      // navDrawerMenuOptionDesktopEdge = 3px
      body:not(.error_page).--drawer_menu_active
        &.drawer_desktop_shadow.drawer_desktop_modal {
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3),
          0 6px 10px 4px rgba(0, 0, 0, 0.15);
      }

      //
      // navDrawerMenuOptionDesktopState = 1px
      //
      body:not(.error_page).--drawer_menu_active &:not(.drawer_desktop_modal) {
        transform: translateX(-300px);

        .rtl & {
          transform: translateX(300px);
        }
      }

      // navDrawerMenuOptionDesktopEdge = 2px
      body:not(.error_page):not(.--drawer_menu_active)
        &.drawer_desktop_border:not(.drawer_desktop_modal) {
        border-right: 1px solid var(--navDrawerMenuColorBorder);

        .rtl & {
          border-right: none;
          border-left: 1px solid var(--navDrawerMenuColorBorder);
        }
      }

      // navDrawerMenuOptionDesktopEdge = 3px
      body:not(.error_page):not(.--drawer_menu_active)
        &.drawer_desktop_shadow:not(.drawer_desktop_modal) {
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3),
          0 6px 10px 4px rgba(0, 0, 0, 0.15);
      }
    }

    @media screen and (min-width: 980px) {
      &:hover {
        overflow-y: auto;
      }
    }

    // Mobile Screen
    @media screen and (max-width: 1200px) {
      body:not(.--drawer_menu_active) & {
        transform: translateX(-300px);

        .rtl & {
          transform: translateX(300px);
        }
      }

      // navDrawerMenuOptionMobileEdge = 2px
      body.--drawer_menu_active &.drawer_mobile_border {
        border-right: 1px solid var(--navDrawerMenuColorBorder);

        .rtl & {
          border-right: none;
          border-left: 1px solid var(--navDrawerMenuColorBorder);
        }
      }

      // navDrawerMenuOptionMobileEdge = 3px
      body.--drawer_menu_active &.drawer_mobile_shadow {
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3),
          0 6px 10px 4px rgba(0, 0, 0, 0.15);
      }
    }

    @media screen and (max-width: 980px) {
      height: calc(100vh - 56px);
      overflow-y: auto;
      top: 56px;
    }
  }
  // More Menu (PageList999)
  .overflow_menu {
    background-color: var(--navigationMoreMenuBackground);
    margin: 8px;
    position: fixed;
    right: 0;
    transform-origin: right top;
    top: 0;

    .rtl & {
      right: unset;
      left: 0;
      transform-origin: left top;
    }

    ul {
      li {
        &.selected {
          background-color: var(--navigationMoreMenuMenuTextTransparent1);
        }

        .dropdown_item {
          color: var(--navigationMoreMenuMenuText);

          &:hover {
            background-color: var(--navigationMoreMenuMenuTextTransparent1);
          }

          &:focus {
            background-color: var(--navigationMoreMenuMenuTextTransparent1);
          }

          &:active {
            background-color: var(--navigationMoreMenuMenuTextTransparent2);
          }

          svg {
            margin: 0 8px 0 0;

            .rtl & {
              margin: 0 0 0 8px;
            }
          }

          .ripple_container {
            i {
              background-color: var(--navigationMoreMenuMenuTextTransparent2);
            }
          }
        }
      }
    }
  }
}

//
// Section
//
.elcreative_section {
  display: flex;
  justify-content: space-between;
  padding: 82px 20px 20px;
  transition: margin 0.28s cubic-bezier(0.4, 0, 0.2, 1);

  .elcreative_main {
    .section {
      max-width: 980px;
      margin: 0 auto;
      width: 100%;
    }
  }

  // Desktop Screen
  @media screen and (min-width: 1200px) {
    body.error_page.--drawer_menu_active
      &.with_drawer_menu:not(.drawer_desktop_modal) {
      margin: 0 0 0 300px;

      .rtl & {
        margin: 0 300px 0 0;
      }
    }

    body:not(.error_page):not(.--drawer_menu_active)
      &.with_drawer_menu:not(.drawer_desktop_modal) {
      margin: 0 0 0 300px;

      .rtl & {
        margin: 0 300px 0 0;
      }

      &.drawer_desktop_modal {
        max-width: 980px;
        margin: 0 auto;
      }
    }

    body:not(.error_page) .elcreative_main {
      width: calc(100% - (300px + 20px));
    }
  }

  // Mobile Screen
  @media screen and (max-width: 980px) {
    flex-direction: column;
    padding: 70px 16px;
  }
}
